In [ ]:
# !pip install kagglehub
# !pip install pandas

In [2]:
import pandas as pd
import kagglehub

c:\Users\raque\OneDrive - Universidad Politécnica de Madrid\4 - BAO - Bioinspired Algorithms\GROUP_BAO\bao\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# path = kagglehub.dataset_download("jacksoncrow/stock-market-dataset")

# print("Path to dataset files:", path)

c:\Users\raque\Desktop\BAO_PROJECT\bao\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\raque\.cache\kagglehub\datasets\jacksoncrow\stock-market-dataset\versions\2

In [ ]:
import os


def construct_table(path):
    df = pd.read_csv(path)
    df = df[["Date","Adj Close"]]
    df["Date"] = pd.to_datetime(df["Date"]).dt.to_period('Y')
    df = df.groupby("Date").mean().reset_index()
    df.to_csv(os.path.join("./data/companies", os.path.basename(path)), index= False)

def construct_anual_dataset_anual(num_companies, ini_dataset):
    for dir, sub_dir, files in os.walk(ini_dataset):
        for idx in range(num_companies):
            path_out = os.path.join(dir,files[idx])
            construct_table(path_out)

def contruct_dataset(processed_anual_datasets_path):
    df = pd.DataFrame()
    for dir, sub_dir, files in os.walk(processed_anual_datasets_path):
        for idx in range(len(files)):
            path_out = os.path.join(dir,files[idx])
            name_enterprise = os.path.basename(path_out)[:-4]
            df_temp = pd.read_csv(path_out)
            df_temp['Enterprise'] = name_enterprise
            df_aux = df_temp.pivot(index='Enterprise', columns='Date', values='Adj Close')
            df_aux.reset_index(inplace=True)
            df = pd.concat([df, df_aux], ignore_index=True)
            print(path_out)
    df.to_csv('./data/tabla.csv', index=False)
    return df
# companies = 4
# construct_anual_dataset_anual(companies, './dataset/stocks')
contruct_dataset("./data/companies")

./data/companies\A.csv
./data/companies\AA.csv
./data/companies\AACG.csv
./data/companies\AAL.csv

Date,Enterprise,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998
0,A,29.740926,42.896596,20.565704,14.117134,12.452391,16.536322,16.647644,21.001003,23.437430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AA,50.922623,56.959232,67.640372,55.327341,49.803314,64.261166,55.621069,61.281611,75.889838,...,11.80405,11.55483,12.362346,13.678465,13.860844,15.827738,20.31258,25.331394,31.99219,31.147144
2,AACG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAL,NaN,NaN,NaN,NaN,NaN,NaN,27.404087,41.784555,33.629429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# df = pd.DataFrame()
# path_out= "./data/companies\A.csv"
# name_enterprise = os.path.basename(path_out)[:-4]
# df_temp = pd.read_csv(path_out)
# df_temp['Enterprise'] = name_enterprise
# df_aux = df_temp.pivot(index='Enterprise', columns='Date', values='Adj Close')
# df = pd.concat([df, df_aux], ignore_index=True)
# print(df)

Date       1999       2000       2001       2002       2003       2004  \
0     29.740926  42.896596  20.565704  14.117134  12.452391  16.536322

Date       2005       2006      2007       2008  ...       2011       2012  \
0     16.647644  21.001003  23.43743  19.687217  ...  27.022611  26.232382

Date       2013       2014       2015       2016       2017       2018  \
0     31.165715  38.331851  37.791033  41.846742  57.839639  66.047285

Date       2019       2020
0     74.629245  79.946901

[1 rows x 22 columns]

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:2: SyntaxWarning: invalid escape sequence '\A'
C:\Users\raque\AppData\Local\Temp\ipykernel_25364\3960926237.py:2: SyntaxWarning: invalid escape sequence '\A'
  path_out= "./data/companies\A.csv"