In [ ]:
# !pip install kagglehub
# !pip install pandas

In [4]:
import pandas as pd
import kagglehub

c:\Users\raque\OneDrive - Universidad Politécnica de Madrid\4 - BAO - Bioinspired Algorithms\GROUP_BAO\bao\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# # Download latest version
# path = kagglehub.dataset_download("jacksoncrow/stock-market-dataset")

# print("Path to dataset files:", path)

c:\Users\raque\Desktop\BAO_PROJECT\bao\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\raque\.cache\kagglehub\datasets\jacksoncrow\stock-market-dataset\versions\2

In [36]:
path = "./dataset/stocks/A.csv"
df = pd.read_csv(path)
df = df[["Date","Adj Close"]]
## Agrupar por años
df["Date"] = pd.to_datetime(df["Date"]).dt.to_period('Y')
# df
df.groupby("Date").mean()

      Adj Close
Date
1999  29.740926
2000  42.896596
2001  20.565704
2002  14.117134
2003  12.452391
2004  16.536322
2005  16.647644
2006  21.001003
2007  23.437430
2008  19.687217
2009  14.279695
2010  21.235895
2011  27.022611
2012  26.232382
2013  31.165715
2014  38.331851
2015  37.791033
2016  41.846742
2017  57.839639
2018  66.047285
2019  74.629245
2020  79.946901